
@{
    ViewBag.Title = "MvcType";
}
<h1>MvcType</h1>
<h2>Index</h2>
<div>
    <ul>
        <li><a href="@Url.Action("DemoContent","MvcType")">DemoContent</a></li>
        <li><a href="@Url.Action("DemoHtmlContent","MvcType")">DemoHtmlContent</a></li>
        <li><a href="@Url.Action("DemoEncodingContent","MvcType")">DemoEncodingContent</a></li>
        <li><a href="@Url.Action("DemoCsvContent","MvcType")">DemoCsvContent</a></li>
        <li><a href="@Url.Action("DemoXmlContent","MvcType")">DemoXmlContent</a></li>
        <li><a href="@Url.Action("ProductsCount","MvcType")">ProductsCount</a></li>
        <li><a href="@Url.Action("OnlineGame","MvcType")">OnlineGame</a></li>
        <li><a href="@Url.Action("DemoFilePath","MvcType")">DemoFilePath</a></li>
        <li><a href="@Url.Action("UploadToDisk","MvcType")">UploadToDisk</a></li>
        <li><a href="@Url.Action("UploadToDb","MvcType")">UploadToDb</a></li>
        <li><a href="@Url.Action("DemoFileContent","MvcType")">DemoFileContent</a></li>
        <li><a href="@Url.Action("GetDeskFile","MvcType")?FileName=A.jpg">Download File(A.jpg)</a></li>
        <li><a href="@Url.Action("ShowImage","MvcType")">ShowImage</a></li>
        <li><a href="@Url.Action("DemoFileStream","MvcType")?FileName=A.jpg">DemoFileStream(A.jpg)</a></li>
        <li><a href="@Url.Action("TestApi","MvcType")">TestApi</a></li>
        <li><a href="@Url.Action("DemoActionName","MvcType")">DemoActionName</a></li>
        <li><a href="@Url.Action("DemoMaster","MvcType")">DemoMaster</a></li>
        <li><a href="@Url.Action("DemoPartialView","MvcType")">DemoPartialView</a></li>
        <li><a href="@Url.Action("DemoVideo","MvcType")">DemoVideo</a></li>
        <li><a href="@Url.Action("ShowVideo","MvcType")">ShowVideo</a></li>
        <li><a href="@Url.Action("Secure","MvcType")">Secure</a></li>
    </ul>
</div>
